@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 5%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }

  ::selection {
    background: rgb(31 41 55);
    color: rgb(255 255 255);
  }
}
